.searchbtn {
  visibility: hidden;
}

.tags {
  overflow: hidden;
  float: left;
  vertical-align: middle !important;
}

.chip.chip-md {
  height: 42px;
  line-height: 42px;
  border-radius: 21px;
}

.chip.chip-md img {
  height: 42px;
  width: 42px;
}

.chip.chip-md .close {
  height: 42px;
  line-height: 42px;
  border-radius: 21px;
}
@media only screen and (min-width: 768px) {
  /* tablets and desktop */

  .pt-5 {
    padding-top: 3rem !important;
  }
  .card-side {
    max-width: 300px;
  }
  .grid-item {
    width: 360px; 
  }

  .image-viewer {
    height: 460px;
    width: 700px;
  }
  .image-viewer img {
    height: 100%;
    width: auto;
  }
}

@media only screen and (max-width: 767px) {
  /* phones */

  .pt-5, .pt-4, .mt-3 {
    padding-top: 0.4rem !important;
  }
  .card-side {
    max-width: 340px;
  }
  .grid-item {
    width: 310px; 
  }

  .image-viewer {
    height: 200px;
    width: 330px;
  }
  .image-viewer img {
    height: 100%;
    width: auto;
  }
}

/* @media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
} */


/* Rules for sizing the icon. */
.md-id { 
  font-size: 14px;
  padding: 5px;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }